<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/lutadores" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-hand-rock-o"></i>&nbsp;
            <span>{{ 'Lutadores' }}</span>
        </a>
        <a routerLink="/verifica-categoria" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Verifique sua Categoria' }}</span>
        </a>
        <a routerLink="/pesquisa-aleatoria" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-random"></i>&nbsp;
            <span>{{ 'Pesquisa Aleatória' }}</span>
        </a>

    </div>
    <!-- <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' }}</span>
    </div> -->
</nav>
