<nav class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <a class="navbar-brand" routerLink="/home" [routerLinkActive]="['router-link-active']">UFC</a>
    
    <ul class="navbar-nav ml-auto">
        
        <li class="nav-item dropdown" ngbDropdown>
            <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                <i class="fa fa-user"></i> John Smith <b class="caret"></b>
            </a>
            <div class="dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}
                </a>
                <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                    <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                </a>
            </div>
        </li>
    </ul>
</nav>
